APP_PORT=3000

POSTGRES_DB=radar_lipedema
POSTGRES_USER=radar
POSTGRES_PASSWORD=troque_essa_senha_forte

PGHOST=postgres
PGPORT=5432
PGDATABASE=radar_lipedema
PGUSER=radar
PGPASSWORD=troque_essa_senha_forte
